.CardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    font-size: 17px;
    width: 80%;



    .InviteTimeCard {
        display: flex;
        flex-direction: column;
        min-height: 150px;
        width: 280px;
        justify-content: center;
        align-items: flex-start;
        background-color: white;
        margin: 10px 0 10px 20px;
        padding: 10px;
        padding-right: 50px;
        border-left: 8px solid #3AEBB6;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;


        .date {
            display: flex;
            font-weight: 700;
            margin-bottom: 5px;

            .weekday {
                margin-right: 5px;
            }
        }

        .pay {
            font-weight: 700;
            margin-top: 10px;
            letter-spacing: 1px;
        }

    }



    .hospitalCard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 150px;
        width: 490px;
        background-color: white;
        margin: 10px 20px 10px 5px;
        padding: 10px 20px;

        .hospitalText {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .hospitalName {
                text-transform: capitalize;
                font-weight: 700;
            }

        }

        .btn {
            color: white;
            background-color: #29334F;
            padding: 5px 15px;
            margin-right: 20px;
            font-weight: 700;

            &--decline {
                color: #29334F;
                background-color: white;
                border: #29334F 2px solid;
                padding: 3px 12px;

            }
        }

        // .declineButton{

        // }
        .hospitalRate {
            display: flex;
        }




    }

}